
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0 auto;
  
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}


.latest-deals-top,
{
  width: 95%;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
 grid-gap:10px;
  padding: 3px 8px;
  height: 550px;
 

}



.tnw-img1 {
  background:   url(./header-image-Trump-BTS-796x417.png ) center no-repeat ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

 
}

.tnw-img2{
  background:   url(./header-image-Trump-BTS-796x417.png ) center no-repeat ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

 
}

 .tnw-img3{
  background:   url(./header-image-Trump-BTS-796x417.png ) center no-repeat ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

 
 }

 .secondary-subtitle>span,
 .fa-clock,
 .fa-share-alt
 {
 
font-size: 15px; 
color: rgb(177, 163, 163) ;
font-weight: bold;
 }
 

.grid1-title{
  font-family: 'Orbitron', sans-serif;
  color: white;
  font-size: 15px;
  
  width: 95%;
  padding: 90px 0 10px 0;
}

.fa-clock {
  background-position: -160px -160px;
}

.fa-share-alt {
  background-position: -912px -912px;
}

.secondary-subtitle {
  padding: 5px 5px 10px;
 
}


.nav-bar {
  display: none;
}

.niav-bar2 {
  height: 30px;
  position: sticky;
  top: 0;
  background-color: white;

}
.logo-tnw {
  height: 53px;
  left: 0;
  z-index: -1;
}
.white-nav-items>li,
.white-nav-items2>li
{
  display: none;

}

.white-nav{
  height: 50px;
top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}
.search-icon{
  list-style: none;
}
.fa-search{
  position: sticky;
  top: 0;
  float: right;
  padding: 20px;
  font-size: 20px;
  color: gray;
  border-left: gray;
}

.yellow {
  background-color: #fd3;
  cursor: pointer;
  height: 40px;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  padding-top: 20px;
  position: sticky;
  top: 45px;
  text-align: center;
  width: 100%;
}

.yellow-text {
  
  text-align: center;
  color: #333;
  margin-left: 30px;
}
.tnw-img2,
.tnw-img1,

.tnw-img3 {
  margin:5px 10px 10px 0px;
}
.funding-img > img {
  width: 95%;
  height: 80px;
}

.funding-middle,
.funding-img {
  margin: 0;
}
.funding-tag1 > a,
.funding-tag2 > a {
  font-size: 13px;
  padding: 5px;
  color: #646464;
}

.funding-tag1 > a:hover,
.funding-tag2 > a:hover {
  color: #131313;
}

.funding-box {
  background-color: #fffaf8;
  height: 80px;
  border-bottom: 1px solid #ffcdc2;
  line-height: 25px;
}

.funding-box2 {
  background-color: #fffaf8;
  height: 80px;
  padding: 5px;
  line-height: 20px;
}

.funding-text1 {
 
  font-size: 12px;
  color: #646464;
}

.funding-text2 {
  color: #929292;
  font-size: 12px;
}

.news1 > img {
  float: left;
  width: 95%;
}

.grid-container > a > img {
  padding: 2px;
  text-align: center;
  width: 425px;
}

.latest-news-imgs,
.lates-deals,
.grid-container,
.funding-section,
.bottom-grid {
  display: flex;
  flex-direction: column;
  padding: 4px;
  width: fit-content;
  margin: 0   auto;
  padding: 10px;
  
}

.latest-news-imgs > figure > img,
 .latest-deals-imgs>figure>img{
  float: left;
  width: 25%;
  padding: 5px;
 
}

.middle-nav-list {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.middle-nav-list > li {
  margin: 0;
}

.middle-nav-bar {
  height: 120px;
}

.middle-nav-latest:hover {
  color: black;
}
.middle-nav-items:hover {
  color: black;
}
.middle-nav-latest {
  
  color: #f42;
  float: left;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: bold;
  
 margin-top: 30px;
  
}

.middle-nav-items {
 
  color: #f42;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  padding-right: 5px;
}



.bottom-grid-tittle,
.latest-deals-top,
.latest-news-top  {
  
  color: #f42;
  float: left;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 25px;
  cursor: pointer;
  width: 95%;
}

.bottom-grid-tittle:hover,
.latest-deals-top:hover,
.latest-news-top:hover  {
  color: #333;
}

.grid-apps,
.latest-deals-top {
  padding-left: 10px;
}
.bottom-text {
  height: 95px;
  background-color: #fff4f2;
  width: 95%;
  margin: 0;
}

.btm-txt {
  font-size: 13px;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}
.btm-txt2 {
  font-size: 13px;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 5px;
}

.bottom-img {
  width: 95%;
}

.bottom-little-img {
  float: right;
  height: 95%;
}

.bottom-list-items {
  padding: 0;
  width: 95%;
}

.bottom-list-items > li {
  border-bottom: 1px solid rgb(228, 228, 228);
  list-style-type: none;
  padding: 10px;
  text-align: justify;
}
.bottom-list-items > li > a {
  color: #757575;
  font-size: 15px;
  word-spacing: 8px;
  line-height: 15px;
  overflow: auto;
  font-family: 'Arsenal', sans-serif;

}
.bottom-list-items > li > a:hover,
.white-nav-items > li > a:hover {
  color: black;
}

.bottom-list-items > li::before {
  content: "•";
  padding-right: 8px;
  color: #f42;
}


.latest-deals-imgs {
  display: flex;
  flex-direction: column;
}

.lates-deals,
.lates-news{
  margin: 0 auto;
  width: 95%;
}

.footer-stuff {
  text-align: center;
  margin: 0 auto;
  width: 95%;
}

.footer-items1,
.footer-list2 {
  height: 60px;
  background-color: #131313;
}

.footer-items1 {
  padding-top: 50px;
  word-spacing: 15px;
  color: #aaa;
}

.footer-items1 > li {
  height:150px ;
  justify-content: center;
  display: inline;
  list-style: none;
  text-align: center;
}

.social-links {
  background: #333;
  color: white;
  font-size: 15px;
  height: 15px;
  border-radius: 50%;
  justify-content:  center;
  width: 10px;
  vertical-align: middle;
  padding: 10px;
}

.social-links:hover {
  background-color: #131313;
  border: 2px solid #333;
}

.footer-list2 > li {
  list-style: none;
  display: inline;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 15px;
}

.footer-links {
  color: #aaa;
  padding: 10px;
}

.footer-links:hover {
  color: white;
}

.bottom-line {
  height: 80px;
  background-color: black;
  color: white;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bottom-line > span {
  word-spacing: 5px;
  color: rgb(141, 140, 140);
}

.heart {
  color: red;
}




.news1-caption,
.deals-caption
 {
 
  color: black;
  font-family: 'Viga', sans-serif;
  justify-content: center;
  font-size: 14px;
  padding-left: 10px;
}

.news1-caption:hover,
.deals-caption:hover {
  color: #ff4321;
  text-decoration: underline;
}

.autor
 {
 
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  color: #aaa;
  padding-left: 10px;
}

.autor:hover {
  color: #555;
}
.times {
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  color: #aaa;
}

.price-scratch {
  text-decoration: none;
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  color: #aaa;
  line-height: 40px;
  text-decoration-line: line-through;
}


/***********************************************************/
@media only screen and (min-width: 768px) {



  nav,
  .nav-bar2 {
    margin: 0 auto;
    width: 100%;
  }

  .nav-bar-items {
    display: flex;
    word-spacing: 15px;
  }

  .white-nav-items {
    padding-left: 120px;
    word-spacing: 20px;
  }

  .white-nav-items2 {
    display: none;
  }

  .yellow {
    text-align: center;
    width: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 10px;
  }

  .tnw-img1 {
    width: 100%;
    height: 100%;
  }

  .tnw-img2,
  .tnw-img3 {
    width: 295px;
    height: 195px;
  }

  .lates-news {
    width: fit-content;
    padding: 10px;
    font-size: 12px;
    width: 95%;
  }
  .latest-news-imgs {
    margin: 10px 30px 10px 80px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    
  }
  .latest-tittle {
    height: 50px;
    text-align: initial;
  }

  .latest-news-top {
    margin: 0;
  }

  .news1 > img {
    width: 220px;
  }

  .news1-caption {
    font-size: 13.5px;
  }

  .autor,
  .times {
    font-size: 13px;
  }

  .latest-news-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -1px;
    width: fit-content;
  }

  .funding-middle {
    margin: 0;
  }

  .middle-nav-bar {
    display: grid;
    height: 80px;
    padding-left: 20px;
  }

  .middle-nav-bar > h2,
  .middle-nav-list {
    margin: 0;
  }

  .middle-nav-list {
    word-spacing: 8px;
  }

  .funding-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
  }

  .funding-img {
    width: 220px;
  }

  .funding-img > img {
    width: 228px;
    height: 100px;
  }

  .funding-last {
    display: none;
  }

  .bottom-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0;
    width: 95%;
    padding: 10px;
  }

  .latest-deals-imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0;
    padding: 10px;
    width: 95%;
  }

  .deals-caption,
  .price-scratch,
  .price {
    font-size: 14px;
  }

  .bottom-line {
    height: 20px;
  }

  .footer-stuff {
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
 
  .logo-tnw {
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
  }

.nav-bar{
height: 30px;
background-color: black;
}

.nav-bar-list1 > li,
.nav-bar-list2 > li {
  display: inline;
  padding-right: 10px;
}

.dropdown-content a {
  color: #929292;
  padding: 12px 16px;
 
  display: block;
}

.funding-tag1 > a,
.funding-tag2 > a {
 
  font-size: 13px;
  padding: 5px;
  color: #646464;
}

.nav-bar-list1 > li > a,
.nav-bar-list2 > li > a,
.dropbtn {
  
  color: #929292;
}

.white-nav-items > li > a {
  color: #929292;
  padding-left: 30px;
}

.bottom-list-items > li > a
 {
  color: #757575;
  font-size: 15px;
  word-spacing: 8px;
  line-height: 15px;
  overflow: auto;
  font-family: 'Arsenal', sans-serif;
}


.funding-tag1 > a:hover,
.funding-tag2 > a:hover {
  color: #131313;
}

.bottom-list-items > li > a:hover,
.white-nav-items > li > a:hover {
  color: black;
}

.dropdown:hover .dropbtn,
.nav-bar-list1>li>a:hover,
.nav-bar-list2>li>a:hover,
.dropdown-content>a:hover,
.bottom-line > span > a {
 color: white;
}



.nav-bar-list1 {
  float: left;
  margin: 6px 20px 2px 0;
}

.nav-bar-list2 {
  float: right;
  margin: 6px 20px 2px 0;
}
.search-icon{
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



.nav-bar2 {
  background-color: white;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
}

.white-nav-items > li,
.white-nav-items2 > li {
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-top: 15px;
}



.btn-rgst {
  background-color: #0cc;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn-rgst:hover {
  background-color: purple;
}

.white-nav-items {
  float: left;
  margin: 6px 20px 2px 0;
  font-size: 14px;
}

.white-nav-items2 {
  float: right;
  margin: 6px 20px 2px 0;
  color: #929292;
  font-size: 12px;
}

.yellow {
  background-color: #fd3;
  cursor: pointer;
  padding: 5px;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: sticky;
  top: 45px;
}

.yellow-text {
  text-decoration: none;
  color: #333;
  margin-left: 30px;
}

.grid-container {
  display: grid;
  grid-gap: 1px;
  margin: 0 auto;
  width: 100%;
}

.grid1-img1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.grid1-img2 {
  grid-column: 3;
  grid-row: 1 / span 1;
}

.grid1-img3 {
  grid-column: 3;
  grid-row: 2 / span 1;
}

.latest-news-imgs {
  margin: 10px 30px 10px 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 75%;
}

.latest-news-top {
  font-family: 'Anton', sans-serif;
  color: #f42;
  font-size: 28px;
  font-weight: bold;
  height: 100px;
  margin-left: 80px;
}

.latest-news-top:hover {
  color: #333;
}

.news1-caption {
  text-decoration: none;
  color: black;
  font-family: 'Viga', sans-serif;
  justify-content: center;
  font-size: 16px;
}

.news1-caption:hover {
  color: #ff4321;
  text-decoration: underline;
}

.autor {
  text-decoration: none;
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  color: #aaa;
}

.autor:hover {
  color: #555;
}

.times {
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  color: #aaa;
}

.middle-nav-bar {
  height: 50px;
  margin: 0 auto;
  width: 100%;
}

.middle-nav-latest {
  text-decoration: none;
  color: #f42;
  float: left;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.middle-nav-latest:hover {
  color: black;
}

.middle-nav-list {
  float: right;
  padding: 5px;
}

.middle-nav-list > li {
  list-style: none;
  display: inline-block;
}

.middle-nav-items {
  text-decoration: none;
  color: #f42;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  border-right: 1px solid #f42;
  padding-right: 5px;
}

#see-more {
  border: none;
}

.middle-nav-items:hover {
  color: black;
}

.funding-middle {
  margin: 0 auto;
  width: 85%;
}

.funding-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.funding-tag1,
.funding-tag2 {
  font-size: 15px;
  padding: 5px;
}

.funding-box {
  background-color: #fffaf8;
  height: 80px;
  border-bottom: 1px solid #ffcdc2;
  line-height: 25px;
}

.funding-box2 {
  background-color: #fffaf8;
  height: 80px;
  padding: 5px;
  line-height: 20px;
}

.funding-text1 {
  text-decoration: none;
  font-size: 12px;
  color: #646464;
}

.funding-text2 {
  color: #929292;
  font-size: 12px;
}

.bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  width: 85%;
  margin: 0 auto;
}

.bottom-grid-tittle {
  text-decoration: none;
  color: #f42;
  float: left;
  font-family: 'Anton', sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}

.bottom-grid-tittle:hover {
  color: #333;
}

.grid-apps {
  padding-top: 60px;
}

.bottom-text {
  height: 95px;
  background-color: #fff4f2;
}

.btm-txt {
  font-size: 13px;
  text-decoration: none;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
}

.btm-txt2 {
  font-size: 13px;
  text-decoration: none;
  color: #f42;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding: 5px;
}

.bottom-img {
  width: 100%;
}

.bottom-little-img {
  float: right;
  height: 100%;
}

.bottom-list-items {
  padding: 0;
}

.bottom-list-items > li {
  border-bottom: 1px solid rgb(228, 228, 228);
  list-style-type: none;
  padding: 10px;
}

.bottom-list-items > li::before {
  content: "•";
  padding-right: 8px;
  color: #f42;
}

.latest-deals-imgs {
  margin: 10px 30px 10px 80px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 85%;
}

.latest-deals-top {
  font-family: 'Anton', sans-serif;
  color: #f42;
  font-size: 28px;
  font-weight: bold;
  height: 100px;
  margin-left: 80px;
}

.latest-deals-top:hover {
  color: #333;
}

.deals-caption {
  text-decoration: none;
  color: black;
  font-family: 'Viga', sans-serif;
  justify-content: center;
  font-size: 16px;
}

.deals-caption:hover {
  color: #ff4321;
  text-decoration: underline;
}

.price-scratch {
  text-decoration: none;
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  color: #aaa;
  line-height: 40px;
  text-decoration-line: line-through;
}

.price {
  font-family: 'Comic Neue', cursive;
  font-size: 15px;
  font-weight: bold;
  color: rgb(92, 92, 92);
}

.footer-stuff {
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.footer-items1,
.footer-list2 {
  height: 80px;
  background-color: #131313;
  padding-top: 20px;
}

.footer-items1 {
  padding-top: 50px;
  word-spacing: 15px;
  color: #aaa;
}

.footer-items1 > li {
  height: 150px;
  justify-content: center;
  display: inline;
  list-style: none;
  text-align: center;
}

.social-links {
  background: #333;
  color: white;
  font-size: 15px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  width: 20px;
  vertical-align: middle;
  padding: 15px;
}

.social-links:hover {
  background-color: #131313;
  border: 2px solid #333;
}

.footer-list2 > li {
  list-style: none;
  display: inline;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 15px;
}

.footer-links {
  text-decoration: none;
  color: #aaa;
  padding: 10px;
}

.footer-links:hover {
  color: white;
}

.bottom-line {
  height: 80px;
  background-color: black;
  color: white;
  padding: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.bottom-line > span {
  word-spacing: 5px;
  color: rgb(141, 140, 140);
}

.heart {
  color: red;
}
}
