
* {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0 auto;
  
}
html{
  width: 100%;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}

.logo-tnw {
 width: 90px;
 height: 45px;
  left: 0;
  position: fixed;
  top: 0;

}

.nav-bar{
  display: none;
}
.white-nav{
  height: 50px;
 top: 0;
  position: fixed;
  background-color: white;
  width: 100%;
  margin: 0 auto;
}
.white-nav-items,
.white-nav-items2{
  display: none;
 
}


.hamburger-menu{
 color: orangered;
 position: fixed;
 top: 2px;
 right: 20px;
 padding: 12px;
 font-size:25px;
 
 border-left:1px solid #afaeae;
height: 40px;
}

.search-icon{
  position: fixed;
  top: 2px;
  right: 80px;
  padding:12px ;

  font-size: 20px;
  border-right:1px solid #afaeae;
 height: 40px;
 transform: scaleX(-1);
 color:  #afaeae;

}

.yellow{
  background-color: #fd3;
  cursor: pointer;
  margin-top: 45px;
  height: 50px;
  padding: 5px 5px 5px 95px;
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  position: sticky;
  top: 45px;

}

.yellow-text{
  color: #131313;
}


@media only screen and (min-width: 768px) {
  .logo-tnw {
    height:auto;
    left: 0;
    width: 88px;
    position: fixed;
    bottom: 0;
    z-index: -1;
  }
  
  
  .nav-bar{
    display: inline-block;
    height: 30px;
    background-color: black;
    font-size: 15px;
    overflow: hidden;
    margin-left:  50px;
    width: 100%;
   padding: 5px;
      }
    
.nav-bar-list1 > li,
.nav-bar-list2 > li {
  display: inline-block;
  width: fit-content;
  padding-right: 5px;

  
}

.dropdown-content a {
  color: #929292;
  padding: 12px 16px;
  display: block;
}


.nav-bar-list1 > li > a,
.nav-bar-list2 > li > a,
.dropbtn  {
  
  color: #929292;
}

.nav-bar-list2>li>a:hover,
.dropdown-content a:hover, .nav-bar-list1 > li > a:hover {
  color: white;
}

.nav-bar-list1 {
  float: left;
 
}

.nav-bar-list2 {
  float: right;
  padding-right: 55px;
  
  
}

.dropdown {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #131313;
  min-width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn,
#news {
  color: white;
}
.white-nav-items {
  justify-content: center;
  display: inline;
 
}

.white-nav{
  margin: 0;
position: sticky;
top:10px;
padding-left: 40px;
 background-image: url(./background-tnw-little.PNG);
 background-repeat: no-repeat;
 background-position:left bottom;

}
.white-nav-items2{
 display: none;
}

.white-nav-items > li > a {
  color: #929292;
  padding-left: 20px;
}

.hamburger-menu{
  display: none;
}
.nav-bar2 {
  background-color: white;
  height: 50px;
  font-family: 'Oswald', sans-serif;
  position: sticky;
  top: 0;
  margin: 0 auto;
  width: 100%;
}
.white-nav-items {
  float: left;
  margin: 6px 20px 2px 0;
  font-size: 14px;
}



.white-nav-items > li{
  list-style: none;
  display: inline-block;
  padding-right: 10px;
  padding-top: 15px;

}
.search-icon {
  position: absolute;
  right: 20px;
  padding:20px ;
  font-size: 20px;
  color:  #afaeae;
 height: 50px;
}
.yellow {
 height: 30px;
 margin: 0; 
 
}

.yellow-text {
  color: #333;
  margin-left: 5px;
  
}

}
@media only screen and (min-width: 1064px) {
 
  
  .nav-bar{
    height: 30px;
    background-color: black;
    margin: 0 auto;
    padding-left: 20px;
      }

      .logo-tnw {
        visibility: hidden;
      
      }
      


.search-icon{
  display: none;
}
.white-nav{

background-image: none;
padding: 0;
}

.white-nav-items {
  
  word-spacing: 20px;
}
#whithe-nav2 > li {
  
  display: inline-block;
  padding-right: 10px;
  padding-top: 15px;
}

.white-nav-items2 {
  float: right;
  margin: 6px 20px 2px 0;
  color: #929292;
  font-size: 12px;
  display: inline;
}

.btn-rgst {
  background-color: #0cc;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.btn-rgst:hover {
  background-color: purple;
}

.yellow{
  padding: 5px 0 5px 50px;
text-align: left;
}


}