
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0 auto;
}
a{
  text-decoration: none;
}

.nav-bar {
  background-color: #131313;
  text-decoration: none;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  font-weight: bold;
}

#news {
  color: white;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  padding: 3px 8px;
  height: 60vh;
 

}

/*.grid-container> article

 {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  overflow: hidden;
}
*/
.tnw-img1 {
  background-image:   url(./header-image-Trump-BTS-796x417.png ) ;
 
}

.tnw-img2{
  background-image:   url(./tech.PNG);
}

 .tnw-img3{
  background-image:   url(./tech.PNG);
 }

.grid1-title{
  color: white;
  font-size: 13px;
  position: relative;
  width: 100%;
  padding: 90px 0 0 0;
}

/*.grid1-gradient{
  background: rgba(0, 0, 0, 0.25) url(./grid1-image-gradient.png) no-repeat;
  background-size: 100% 100%;
  background-position: 0% 0%;
  position: absolute;
  width: fit-content;
  height: fit-content;
}

.grid1-img{
  
  display: none;
  background: transparent url(./grid1-gradient.png) no-repeat;
  mix-blend-mode: lighten;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}*/

.fa-clock {
  background-position: -160px -160px;
}

.fa-share-alt {
  background-position: -912px -912px;
}

.secondary-subtitle {
  padding: 0 5px;
  font-size: 18px;
}


