
 
 html{
  box-sizing: border-box;
  }
  *,*:before, *:after {
 margin: 0;
 
  }

 
 /* @media only screen and (min-width: 900px) {*/
  .nav-bar{
     background-color: #131313;
     text-decoration: none;
     height: 30px;
     width: 100%;
     margin: 0 auto;
     font-family: 'Oswald', sans-serif;
     font-size: 13px;
     font-weight: bold;
  }
  #news {
      color: white;
  }
.nav-bar-list1>li,
.nav-bar-list2>li{
    display: inline-block;
    padding-right: 10px;
  
    
}
.nav-bar-list1>li>a,
.nav-bar-list2>li>a{
    text-decoration: none;
    color: #929292;
}

.nav-bar-list1>li>a:hover,
.nav-bar-list2>li>a:hover{
  color: white;
}

.dropbtn{

text-decoration: none;
color:#929292;
}


.nav-bar-list1{
   float: left;
   margin:6px 20px 2px 0;
}
.nav-bar-list2{
float:right;
margin:6px 20px 2px 0;

   
    
}
  .dropdown {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #131313;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color:#929292 ;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      color: white;
    }
  
  .dropdown:hover .dropdown-content {
      display: block;
      
    }
  
  .dropdown:hover .dropbtn {
      color: white;
    }
  
  .nav-bar2{
      background-color: white;
      height:50px ;
      font-family: 'Oswald', sans-serif;
      position: sticky;
      top: 0;
      margin: 0 auto;
      width: 100%;
      

  }
 
  .white-nav-items>li,
  .white-nav-items2>li{
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    padding-top: 15px;
  }

  .white-nav-items>li>a{
      text-decoration: none;
      color: #929292;
  }

  .white-nav-items>li>a:hover{
    color:black;
  }
  .search,
  .register-btn{
      list-style: none;
  }

  .btn-rgst{
      background-color:#00cccc;
      color: white;
      font-family: 'Oswald', sans-serif;
    font-size:12px ;
    border-color:transparent;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-rgst:hover{
    background-color:purple ;
  }
  .white-nav-items{
    float:left;
    margin:6px 20px 2px 0;
    font-size: 14px;
  }
  .white-nav-items2{
    float: right;
    margin:6px 20px 2px 0;
    color: #929292;
    font-size: 12px;

  }

  .yellow{
      background-color: #ffdd33;
      cursor: pointer;
      padding: 5px;
      font-family: 'Orbitron', sans-serif;
      font-size: 14px;
      position: sticky;
      top: 45px;
  }
.yellow-text{
    text-decoration: none;
    color:#333;
 margin-left: 30px;
}
 
.grid-container{
    display: grid;
  grid-gap:1px;
  margin: 0 auto;
  width: 100%;
}
.grid1-img1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.grid1-img2{
    grid-column: 3;
  grid-row: 1 / span 1;
}
.grid1-img3{
    grid-column: 3;
    grid-row: 2 / span 1;
}


.latest-news-imgs{
 
margin:10px 30px 10px 80px ;
padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 75%;
  
}
.latest-news-top{
    font-family: 'Anton', sans-serif;
    color:#FF4422;
    font-size: 28px;
    font-weight: bold;
    height:100px;
    margin-left: 80px;

   
}

.latest-news-top:hover{
    color: #333;
}

.news1-caption{
  text-decoration: none;
  color: black;
  font-family: 'Viga', sans-serif;
  justify-content: center;
  font-size: 16px;
 
}

.news1-caption:hover{
  color: #ff4321;
text-decoration: underline;

}

.autor{
  text-decoration: none;
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  color:  #aaa;

}
.autor:hover{
  color:#555;
}

.times{
  font-family: 'Comic Neue', cursive;
  font-size: 14px;
  color:  #aaa;

}
.middle-nav-bar{
  height: 50px;
  margin: 0 auto;
  width:100%;

}

.middle-nav-latest{
text-decoration: none;
color:#FF4422;
float: left;
font-family: 'Anton', sans-serif;
font-size: 25px;
font-weight: bold;

}

.middle-nav-latest:hover{
  color: black;
}

.middle-nav-list{
  float: right;
  padding: 5px;
  
}

.middle-nav-list>li{
  list-style: none;
  display: inline-block;
}


.middle-nav-items{
 text-decoration: none ;
 color:#FF4422;
 font-family: 'Anton', sans-serif;
 font-size: 16px;
 border-right: 1px solid #FF4422;
 padding-right: 5px;
 

}

#see-more{
  border: none;
}

.middle-nav-items:hover{
  color: black;
  }

.funding-middle{
  margin: 0 auto;
  width: 85%;
}
.funding-section{
 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  

}
.funding-tag1,
.funding-tag2{
  font-size: 15px;
  padding: 5px;
 
  
}

.funding-tag1>a,
.funding-tag2>a{
text-decoration: none;
font-size: 13px;
  padding: 5px;
  color:  #646464;;

}
.funding-tag1>a:hover,
.funding-tag2>a:hover{
  color: #131313;
}

.funding-box{
  background-color:#fffaf8; 
  height: 80px;
  border-bottom: 1px solid #ffcdc2;
line-height: 25px;
}
.funding-box2{
  background-color:#fffaf8; 
  height: 80px;
  padding: 5px;
  line-height: 20px;
}
.funding-text1{
  text-decoration: none;
  font-size: 12px;
  color:  #646464;
  
}


.funding-text2{

color:  #929292;
font-size: 12px;
}

.bottom-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  width: 85%;
  margin: 0 auto;
 
}

.bottom-grid-tittle{

  text-decoration: none;
color:#FF4422;
float: left;
font-family: 'Anton', sans-serif;
font-size: 25px;
font-weight: bold;
padding-bottom: 10px;
}

.bottom-grid-tittle:hover{
  color: #333;
}


.grid-apps{
  padding-top: 60px;

}
.bottom-text{
height: 95px;
background-color: #fff4f2;


}

.btm-txt{
  font-size: 13px;
  text-decoration: none;
  color: #FF4422;
  font-family:'Poppins', sans-serif;
  padding: 5px;
}

.btm-txt2{
 font-size: 13px;
 text-decoration: none;
text-align: ;
 color: #FF4422;
 font-family: 'Poppins', sans-serif;
 font-weight: bold;
 padding: 5px;
}

.bottom-img{
  width: 100%;
}
.bottom-little-img{
 float: right;
 height: 100%;
  
}
.bottom-list-items{
padding: 0;

}
.bottom-list-items>li{
  border-bottom: 1px solid rgb(228, 228, 228);
  list-style-type: none;
  padding: 10px;
 
 }

 .bottom-list-items>li::before{
  content: "•"; 
  padding-right: 8px;
  color: #FF4422;
  
 }
 .bottom-list-items>li>a{
  text-decoration: none;
  color: #757575;
  font-size: 15px;
  word-spacing: 8px;
  line-height:15px;
  overflow: auto;
  font-family: 'Arsenal', sans-serif;
  
 }

 .bottom-list-items>li>a:hover{
  color: #333;
 }


 .latest-deals-imgs{
 
  margin:10px 30px 10px 80px ;
  padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    width: 85%;
    
  }
  .latest-deals-top{
      font-family: 'Anton', sans-serif;
      color:#FF4422;
      font-size: 28px;
      font-weight: bold;
      height:100px;
      margin-left: 80px;
  
     
  }
  
  .latest-deals-top:hover{
      color: #333;
  }
  
  .deals-caption{
    text-decoration: none;
    color: black;
    font-family: 'Viga', sans-serif;
    justify-content: center;
    font-size: 16px;
  
  }
  
  .deals-caption:hover{
    color: #ff4321;
  text-decoration: underline;
  
  }
  
  .price-scratch{
    text-decoration: none;
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
    color:  #aaa;
    line-height: 40px;
    text-decoration-line:line-through;

  
  }
 
  
  .price{
    font-family: 'Comic Neue', cursive;
    font-size: 15px;
    font-weight: bold;
    color:  rgb(92, 92, 92);
  
  }

 .footer-stuff{
 text-align: center;
 margin: 0 auto;
 width: 100%;
 
 }

 .footer-items1,
 .footer-list2{
  height: 60px;
  background-color: #131313;
  
 }

 .footer-items1{
  padding-top: 50px;
  word-spacing: 15px;
  color:  #aaa;
 }

 .footer-list2{


 }
  .footer-items1>li{
    height: 150px;
    
 justify-content: center;
 display: inline;
 list-style: none;
 text-align: center;
 }
  .social-links{
    background: #333 ;
   color: white;
    font-size: 15px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
   width: 20px;
    vertical-align: middle;
    padding: 15px;
    
  }

  .social-links:hover{
    background-color: #131313;
   border: 2px solid #333;
  }
  .footer-list2>li{
 list-style: none;
 display: inline;
 font-family: 'Big Shoulders Display', cursive;
 font-size: 15px;

  }

  .footer-links{
    text-decoration: none;
    color: #aaa;
   padding: 10px;
  }

  .footer-links:hover{
    color: white;
  }
  .bottom-line{
    height: 80px;
  
    background-color: black;
    color: white;
  padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: bold;
  }
 .bottom-line>span{
  word-spacing: 5px;
  color: rgb(141, 140, 140);
 }
  .bottom-line>span>a{
    text-decoration: none;
    color: white;
  }

  .heart{
    color: red;
  }

/***************************************************************/
 @media only screen and (max-width: 768px){
    
  body:after {
        content: "768 to 1024px";
        background-color: hsla(270,60%,40%,0.7);
    }
    body{
      margin: 0 auto;
      width: 100%;
    }
  
    .nav-bar-items{
      display: flex;
      width: fit-content;
      word-spacing: 15px;
  
    }
  
    .white-nav-items{
      padding-left: 120px;
      word-spacing: 20px;
      
    }
   
    .white-nav-items2{
      display: none;
    }

  .yellow{
    text-align: center;
    
  }
  
  .grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0;
    padding: 10px;
  
  }

  .tnw-img1{
    width:100%;
   height: 100%;
  }

  .tnw-img2,
  .tnw-img3{
    width: 295px;
    height: 195px;
  }

  .lates-news{
    width: 780px;
   padding: 10px;
   font-size: 12px;
   
    
  }
  
  .latest-tittle{
  height: 50px;
  text-align: initial
  }
  
  .latest-news-top{
    margin: 0;
  }

  .news1>img{
    width: 250px;
  }
  
  .news1-caption{
    font-size: 13.5px;
  }

  .autor,
  .times{
    font-size: 13px;
  }
  
  .latest-news-imgs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: -1px;
  }
  
  .funding-middle{
    margin: 0 ;
    
    
  }

  .middle-nav-bar{
   display: grid;
   height: 80px;
   padding-left: 20px;
    
  }

  .middle-nav-list{
  word-spacing: 8px;
  
  }
  
  
  .funding-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  
  
   
  }

  .funding-img{
    width: 230px;
  }

  .funding-img>img{
    width:228px;
    height: 100px;
  }

  .funding-last{
    display: none;
  }
  
  .bottom-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0;
  width: fit-content;
  padding: 10px;
  
  }
  
  .latest-deals-imgs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 0;
  padding:10px;
  width: fit-content;
  }
  
  .news1>img{
    width: 240px;
  }
  
  .deals-caption,
  .price-scratch,
  .price
  {
    font-size: 14px;
  }
  
  .bottom-line{
    height: 20px;
  }

  

  @media only screen and (max-width: 500px) {
   .nav-bar{
    display: none;
    
  }

  .white-nav{
    height: 30px;
    position: sticky;
    background-color: white;
    width: 100%;
  }

  .white-nav-items,
  .white-nav-items2{
    display: none;
  }

  .yellow{
    background-color: #ffdd33;
    cursor: pointer;
    padding-top: 20px;
    height: 40px;
    font-family: 'Orbitron', sans-serif;
    font-size: 14px;
    position: sticky;
    top: 45px;
    text-align: center;
}
.yellow-text{
  text-decoration: none;
  text-align: center;
  color:#333;
margin-left: 30px;
}

.grid-container{
  display: flex;
  flex-direction: column;
 padding: 5px;
 width: 100%;
  
}
.grid-container>a>img{
width: 100%;
padding: 2px;
text-align: center;
}

.latest-news-imgs{
  display: flex;
  flex-direction: column;
  padding:4px;
 
}

.latest-news-imgs>figure>img{
  float: left;
  width: 25%;
  padding: 5px;
  
}

.latest-news-imgs>figure>figcaption{
  width: 90%;
 justify-content: center;
 padding-top: 10px;

}

.autor,
.times{
  line-height: 50px;
}
.middle-nav-list{
  display: flex;
  flex-direction: column;
 
  
}
.middle-nav-bar{
  height: 170px;
  
 
}
.middle-nav-latest,
.middle-nav-list>li{
  
  padding: 5px;
  text-align: left;

}
.middle-nav-list>li>a{
  font-size: 15px;
}

.funding-section{
  display: flex;
  flex-direction: column;
  width: 100%;
}

figcaption
{
width: 400px;
}
.funding-img>img{
  width: 400px;
  height: 100px;
}

.bottom-grid{
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
 
}

.bottom-grid-tittle{
  font-size: 30px;
  font-family: 'Jockey One', sans-serif;
  
}
 .grid-apps{
   padding-left: 10px;
 }
.latest-deals-imgs {
  display: flex;
  flex-direction: column;
  
  
  
}

.news1>img{
  float: left;
  width: 30%;
}

.latest-deals-top{
 margin: 0;
 text-align: left;
 padding-left: 10px;
 font-family: 'Jockey One', sans-serif;
 line-height: 80px;
 
 
}

.deals-caption{

  font-size: 14px;
 text-align: center;
 margin-left:5px;
}
.footer-stuff{
  text-align: center;
padding:10px;
width: 100%;
}

.social-links{
  background: #333 ;
 color: white;
  font-size: 15px;
  border-radius: 50%;
  padding: 8px;
  
}

.footer-list2>li{
  list-style: none;
  display: inline;
  font-family: 'Big Shoulders Display', cursive;
  font-size: 13px;
 width: 100%;
 
   }

   .footer-list2{
     text-align: center;
     font-size: 15px;
   }

   .bottom-line{
  text-align: center;
  font-size: 12px;
  width:fit-content;
  height: 50px;
  
   }